.footer {
    height: 200px;
    background-color: #63cdda;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.name {
    border: 1px solid black;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 80%;
}

.icon {
    display: flex;
    background-color: #596275;
    height: 50px;
    width: 50px;
}

.rights {

}